<%= form_with(model: crime, class: 'form') do |form| %>
  <% if crime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crime.errors.count, "error") %> en el reporte:</h2>

      <ul>
        <% crime.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field bg-light">
    <%= form.label :category do %>
      Tipo de crimen 
      <a href="<%= help_categorias_path %>" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg>
      </a>
    <% end %>
    <%= form.select :category, options_for_select([['Seleccione', '']] + Crime::CRIME_CATEGORIES.invert.to_a.sort_by(&:first), '') %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :happened_at %>
    <%= form.datetime_field :happened_at %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :address_reference %>
    <%= form.text_field :address_reference %>
  </div>
  
  <div class="field">
    <%= form.label :reporter_victim_relationship_category %>
    <%= form.select :reporter_victim_relationship_category, options_for_select([['Seleccione', '']] + Crime::REPORTER_VICTIM_RELATIOnSHIP_CATEGORIES.invert.to_a, '') %>
  </div>

  <div class="field">
    <%= label_tag 'Posición en el mapa' %>
    <div id="mini-map"></div>
    <%= form.hidden_field :lat, id: 'crime-lat' %>
    <%= form.hidden_field :long, id: 'crime-long' %>
  </div>
  
  <div class="field">
    <%= recaptcha_tags %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
