<%= form_with(model: crime, class: 'form') do |form| %>
  <% if crime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crime.errors.count, "error") %> en el reporte:</h2>

      <ul>
        <% crime.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, options_for_select([['Seleccione', '']] + Crime::CRIME_CATEGORIES.invert.to_a.sort_by(&:first), '') %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :happened_at %>
    <%= form.datetime_field :happened_at %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :address_reference %>
    <%= form.text_field :address_reference %>
  </div>
  
  <div class="field">
    <%= form.label :reporter_victim_relationship_category %>
    <%= form.select :reporter_victim_relationship_category, options_for_select([['Seleccione', '']] + Crime::REPORTER_VICTIM_RELATIOnSHIP_CATEGORIES.invert.to_a, '') %>
  </div>

  <div class="field">
    <%= label_tag 'Posición en el mapa' %>
    <div id="mini-map"></div>
    <%= form.hidden_field :lat, id: 'crime-lat' %>
    <%= form.hidden_field :long, id: 'crime-long' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
