<p id="notice"><%= notice %></p>

<h1>Crimes</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Description</th>
      <th>Happened at</th>
      <th>Address</th>
      <th>Address reference</th>
      <th>Reporter ip</th>
      <th>Reporter user agent</th>
      <th>Reporter</th>
      <th>Reporter victim relationship category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crimes.each do |crime| %>
      <tr>
        <td><%= crime.category %></td>
        <td><%= crime.title %></td>
        <td><%= crime.description %></td>
        <td><%= crime.happened_at %></td>
        <td><%= crime.address %></td>
        <td><%= crime.address_reference %></td>
        <td><%= crime.reporter_ip %></td>
        <td><%= crime.reporter_user_agent %></td>
        <td><%= crime.reporter_id %></td>
        <td><%= crime.reporter_victim_relationship_category %></td>
        <td><%= link_to 'Show', crime %></td>
        <td><%= link_to 'Edit', edit_crime_path(crime) %></td>
        <td><%= link_to 'Destroy', crime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="map" style="width: 100%; height: 400px"></div>
<br>

<style>
 .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
</style>

<div id="popup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content"></div>
</div>

<%= link_to 'New Crime', new_crime_path %>
