<div class="info-container">
  <p id="notice"><%= notice %></p>

  <h1><%= @crime.category_human_readable %>: <%= @crime.title %></h1>

  <div class="info-box-container">
    <div class="crime-datetime info-box">
      <p><%= l @crime.happened_at, format: '%e de %B %Y' %></p>
      <p><%= l @crime.happened_at, format: '%A %l:%M%p' %></p>
    </div>

    <div class="crime-address info-box">
      <p>
        <%= @crime.address %>
      </p>

      <p>
        <%= @crime.address_reference %>
      </p>
    </div>
  </div>

  <p class="crime-description">
    <%= @crime.description %>
  </p>

  <iframe 
    width="100%" 
    height="300" 
    style="border:0" 
    loading="lazy" 
    allowfullscreen 
    src="https://www.google.com/maps/embed/v1/place?q=<%= @crime.lat %>%2C%20<%=@crime.long%>&key=AIzaSyBbioZBqAxk2_4WLMpHv9Vt8Yp700TWgKQ"
  ></iframe>

  <%= link_to 'Regresar', :root %>
</div>